body {
	margin:0;
	padding:0;
	background-color:#240090;
}

#page-wrap {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	overflow:auto;
}

#header-wrap {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:80px;
	width:100%;
	overflow:hidden;
	background-color:#0C0032;
}

#header-content {
	display:block;
	text-align:center;
}

#header-name {
	font-size:48px;
	color:#F2EEE1;
	font-family:'Ubuntu';
}

#app-wrap {
	position:absolute;
	top:80px;
	left:0px;
	right:0px;
	top:80px;
	bottom:80px;
	width:100%;
	background-color:#240090;
}

#footer-wrap {
	position:absolute;
	bottom:0;
	left:0px;
	right:0px;
	height:80px;
	width:100%;
	overflow:hidden;
	background-color:#1F2329;
}

#footer-content {
	padding-top:25px;
	padding-left:16px;
	text-align:left;
}

#footer-links {
	font-size:calc(12px + 0.95vw);
	color:#F2EEE1;
	font-family:'Ubuntu';
}